/* ---------Body styling--------- */
html, body {
    height:100%;
    background-color: #ecf0f1;
    overflow-y:hidden;
}
.contentContainer {
    overflow-y:scroll;
    height:90%;
}
/* Allow scrolling if the device isn't tall enough to  */
@media all and (max-height: 550px){
    body {
        overflow-y:scroll;
    }
}
a {
    color: #000000;
}
a:hover {
    text-decoration: none;
    color: #ecf0f1;
}
.top {
    background-color:#3498db;
    top: 0;
    right: 0;
    left: 0;
    height: 15%;
    text-align: center;
    width: 100%;
    color: #ecf0f1;
}
.top a {
    color: white;
}
.top a:hover {
    text-decoration: none;
}
.top a:visited {
    text-decoration: none;
}
.outer {
    display: table;
}
.inner {
    display: table-cell;
    vertical-align: middle;
}
td {
    padding-left: 15px;
    padding-right: 15px;
}
.form-controller {
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border: 0;
    background-color: #ecf0f1;
}
:focus {
    outline: none;
}
.mainevents {
    float: left;
    width: 75%;
    text-align: center;
}
.event-rows {
    background-color: white;
    width: 30%;
    margin: 2.5%;
    display: inline-block;
    border-radius: 10px;
}
.event-rows p {
    font-size: 15px;
}
.event-rowsa {
    background-color: white;
    width: 30%;
    margin: 2.5%;
    border-radius: 10px;
    margin: 0 auto;
}
.event-form {
    margin: 0;
}
.event-form input{
    margin: 0 auto;
    background-color: white;
}
.submitFormBtn {
    width: 100%;
    border: none;
    background-color: #3498db;
    line-height: 50px;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.box {
    width: calc(100% /3);
    color: white;
    display: inline-block;
    margin: 0;
    float: left;
    padding: 5px;
}
.box:hover {
    cursor:pointer;
}
.box1 {
    background-color: #3498db;
    border-bottom-left-radius: 10px;
}
.box2 {
    background-color: #f39c12;
}
.box3 {
    background-color: #e74c3c;
    border-bottom-right-radius: 10px;
}
.voteCounter {
    display: block;
}
.mobileChat {
    color: #ecf0f1;
    float:right;
    margin-right: 25px;
    display: block;
}
.mobileChat:visited{
    color: #ecf0f1;
    float:right;
    margin-right: 25px;
    display: block;
}
.ad-leftskyscraper {
    float:left;
    margin:0;
    padding:0;
    display:inline-block;
}
.main-view {
    float:left;
    width:100%;
    height:100%;
    overflow-y:scroll;
}
.main-view-no-ad {
    width:100%;
}
.main-view-ad {
    width:calc(100% - 300px);
}
.event-text {
    width:90%;
}
.loginBtn {
    padding: 10px;
    background-color: #ecf0f1;
    color: #3498db;
    border: 0;
    border-radius: 10px;
    font-size: 25px;
}
/* ---------Chat Styling--------- */

.chat-text {
    text-align: center;
    line-height: 1.5em;
    width: 100%;
    border: none;
    float: left;
    height: 50px;
}
.chat-username {
    text-align: center;
    line-height: 1.5em;
    width: 100%;
    width: -webkit-calc(100% - 55px);
    width: -moz-calc(100% - 55px);
    width: calc(100% - 55px);
    border: none;
    float: right;
    height: 50px;
}
.chat-row {
    width:80%;
    float: left;
    margin-left:5%;
    margin-bottom:20px;
}
.addChatBtn {
    height: 50px;
    width: 10%;
    float: right;
    margin-right: 5%;
    padding: 0;
}
.profile-photo {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.content {
    padding-left: 75px;
}
.username {
    color: #3498db;
}
hr {
    width: 50%;
    height: 2px;
    background-color: #3498db;
}
::-webkit-scrollbar { 
    display: none; 
}
.footer {
    background-color: #3498db;
    text-align: center;
    height: 100px;
    line-height: 100px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}
.footer a {
    color: #ecf0f1;
    font-size: 15px;
}
.footer a:hover {
    text-decoration: none;
}
.mainchatshome {
    display: block;
}
.chats {
    width: 90%;
    float: none;
    margin: 0 auto;
    display: block;
    overflow-x: none;
}
.chatsSidebar {
    height: 100%;
    width: 25%;
    float: right;
}
.chatScroller {
    height:50%;
    overflow-y: scroll;
    max-width: 75%;
    overflow-x: none;
}
.event-name {
    height:32px;
    display:block;
    overflow:scroll;
}
.event-description {
    height:64px;
    display:block;
    overflow:scroll;
}
/* Largest size where this layout looks good */
@media all and (max-width: 768px){
  .fa-bars {
      font-size: 25px;
      float: right;
      display: block;
  }
  .mainevents {
      text-align: center;
      margin: 0 auto;
      width: 100%;
      hieght:100%;
      overflow-y:scroll;
  }
  .chatsSidebar {
      display: none;
  }
  .chatScroller {
      overflow:scroll;
      height:35%;
  }
  .event-rows {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 25px;
  }
  .event-rowsa {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 25px;
  }
  .main-view-ad {
      width:100%;
  }
  .ad-leftskyscraper {
      display: none;
  }
}

/* Lynx Begins Here*/
.lynx-mainInput {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
}
.lynx-mainGo {
    text-align: center;
    margin-top: 3%;
}
.lynx-logo {
    margin-bottom: 3%;
    position:relative;
}
.lynx-logo-text {
    font-size: 128px;
    vertical-align: middle;
}
.lynx-logo-subtext {
  position: absolute;
  bottom: 0;
  margin-bottom: 36px;
  margin-left: 10px;
}
.lynx-analysis-results {
    overflow:hidden;
    margin-bottom:100px;
}


.util-clickable {
    cursor: pointer;
}
