/* ---------Body styling--------- */
html {
    height:100%;
}
body {
    height:100%;
    background-color: #ecf0f1;
}
.mobilefirst {
    display: none;
}
a {
    color: #ecf0f1;
}
a:hover {
    text-decoration: none;
    color: #ecf0f1;
}
.top {
    background-color:#3498db;
    top: 0;
    right: 0;
    left: 0;
    height: 15%;
    text-align: center;
    width: 100%;
    color: #ecf0f1;
}
.outer {
    display: table;
}
.inner {
    display: table-cell;
    vertical-align: middle;
}
td {
    padding-left: 15px;
    padding-right: 15px;
}
.form-controller {
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border: 0;
    background-color: #ecf0f1;
}
:focus {
    outline: none;
}
.mainevents {
    float: left;
    width: 75%;
    text-align: center;
}
.event-rows {
    line-height: 50px;
}
.voteCounter {
    display: block;
}
.voteCounterM {
    display: none;
}
.mobileChat {
    color: #ecf0f1;
    float:right;
    margin-right: 25px;
    display: block;
}
.mobileChat:visited{
    color: #ecf0f1;
    float:right;
    margin-right: 25px;
    display: block;
}
/* ---------Chat Styling--------- */
.chats {
    display: block;
}
.chat-text {
    text-align: center;
    line-height: 1.5em;
    width: 100%;
    border: none;
    float: left;
    height: 50px;
}
.chat-username {
    text-align: center;
    line-height: 1.5em;
    width: 100%;
    width: -webkit-calc(100% - 55px);
    width: -moz-calc(100% - 55px);
    width: calc(100% - 55px);
    border: none;
    float: right;
    height: 50px;
}
.chat-row {
    width:80%;
    float: left;
    margin-left:5%;
    margin-bottom:20px;
}
.addChatBtn {
    height: 50px;
    width: 10%;
    float: right;
    margin-right: 5%;
    padding: 0;
}
.profile-photo {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.content {
    padding-left: 75px;
}
.username {
    color: #3498db;
}
hr {
    width: 50%;
    height: 2px;
    background-color: #3498db;
}
::-webkit-scrollbar { 
    display: none; 
}
.footer {
    background-color: #3498db;
    text-align: center;
    height: 100px;
    line-height: 100px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}
.footer a {
    color: #ecf0f1;
    font-size: 15px;
}
.footer a:hover {
    text-decoration: none;
}
.fa-vote {
    font-size: 25px;
}
.mainchatshome {
    display: block;
}
.chats {
    width: 90%;
    float: none;
    margin: 0 auto;
    display: block;
}
.chatsSidebar {
    height: 100%;
    width: 25%;
    float: right;
}
.chatScroller {
    overflow:scroll;
    height:50%;
}
a .fa {
    font-size:25pt;
}
/* Largest size where this layout looks good */
@media all and (max-width: 700px){
  .fa-bars {
      font-size: 25px;
      float: right;
      display: block;
  }
  .mainevents {
      text-align: center;
      margin: 0 auto;
      width: 100%;
  }
  .voteCounter {
      display: none;
  }
  .voteCounterM {
      display: block;
  }
  .chatsSidebar {
      display: none;
  }
  .chatScroller {
      overflow:scroll;
      height:35%;
  }
}
/* The above layout looked pretty good on mobile.
@media all and (max-width: 640px) {
    .all {
        display: none;
    }
    .mobilefirst {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100px;
        line-height: 100px;
        background-color: #3498db;
        width: 100%;
        color: #ecf0f1;
    }
    .fa {
        font-size: 25px;
        float: right;
        display: block;
        padding: 10px;
    }
    .chatsSidebar {
      width: 90%;
      float: none;
      margin: 0 auto;
      display: block;
  }
}
*/