<div class="mainevents">
<span ng-bind="event_id"></span>
<h2 ng-bind="event.name"></h2>
<p ng-bind="event.description"></p>
<h2>Twitter Integration</h2>
<div ng-show="event.twitter&&event.twitter!=''">
    <span ng-bind="event.twitter"></span>
</div>
<span ng-hide="event.twitter&&event.twitter!=''">Want to get your message out there?<br/>Integrate twitter.</span>
<form>
    <input type="text" placeholder="#hashtag" ng-model="event.twitter" ng-change="sumbitTwitterForm()"/>
</form>
<h3>Comments</h3>
<div ng-repeat="comment in comments">
    <span ng-bind="comment.user"></span>
    <br>
    <br>
    <p ng-bind="comment.text"></p>
    <br>
    <br>
</div>
<form>
    <input type="text" ng-model="comment.text">
    <button ng-click="addComment()">Add Comment</button>
    <br>
    <small>By adding comments, you must be signed into twitter.</small>
</form>
<br>
<button class="btn" ng-click="$location.path('/events')">Back</button>
</div>
<div shout-ninja-chat sidebar="true"></div>