<div class="lynx-analysis-content">
    <div class="col-md-6">

        <div class="input-daterange input-group" id="datepicker">
            <div class="input-group-btn input-group-sm">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="false">
                    <span ng-bind="chartTypes[chartType].displayName"></span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="myChartType in chartTypes"><a href ng-click="setChartType(myChartType.name)"
                                                                 ng-bind="myChartType.displayName"></a></li>
                </ul>
            </div>

            <input type="text" class="input-sm form-control datepicker" name="start" id="startPicker"/>
            <span class="input-group-addon">to</span>
            <input type="text" class="input-sm form-control datepicker" name="end" id="endPicker"/>
        </div>
    </div>
    <div class="col-md-6" ng-show="chartType=='pie'">
        <div class="input-group input-group-sm">
            <span class="input-group-addon">Number to Show</span>
            <input type="number" class="input-sm form-control" id="domainCountPicker" ng-model="domainCount"/>
        </div>
    </div>


    <script type="text/javascript">
        var scope = angular.element('.datepicker').scope();
        scope.$watch("startDate", function (newVal) {
            $('#startPicker').datepicker("update", newVal.format('MM-DD-YYYY'));
        });
        scope.$watch("endDate", function (newVal) {
            $('#endPicker').datepicker("update", newVal.format('MM-DD-YYYY'));
        });
        $('.datepicker').datepicker()
                .on("changeDate", function (e) {
                    scope.$apply(function () {
                        var startDate = new Date($('#startPicker')[0].value);
                        var endDate = new Date($('#endPicker')[0].value);
                        if (!(isNaN(startDate.getTime()) || isNaN(endDate.getTime()))) {
                            scope.startDate = moment(startDate);
                            scope.endDate = moment(endDate);
                        }
                    });
                });
    </script>

    <div ng-show="chartType=='line'">
        <linechart width="1024" height="500" data="data" options="options"></linechart>
    </div>
    <div ng-show="chartType=='pie'">
        <pie-chart data="data" options="options"></pie-chart>
    </div>
</div>