<div ng-controller="ninja.shout.index.chats" class="chats">
    <h3>Chat</h3>
    <div scroll-glue style="overflow:scroll;height:60%;">
        <div ng-repeat="chat in chats">
            <img class="profile-photo" ng-src="{{chat.user.image}}" alt="Profile">
            <div class="content">
                <span ng-bind="chat.user.username" class="username"></span>
                <br>
                <span ng-bind="chat.text"></span>
                <br>
                <hr>
            </div>
        </div>
    </div>
    <form class="addChats">
        <input type="text" ng-model="formData.text" placeholder="your text here" class="chat-text"/>
        <button class="btn btn-success addChatBtn" ng-click="submitForm()"><i class="fa fa-comment"></i></button>
        <br>
        <br>
        <br>
        <br>
        <img class="profile-photo" ng-src="{{formData.user.image}}" alt="Profile">
        <button class="btn btn-warning addChatBtn" ng-click="clearChats()">Clear</button>
        <input type="text" style="width:45%" ng-model="formData.user.username"  class="chat-text"/>
    </form>
</div>