<h3>Create New</h3>
<form>
  <input type="text" ng-model="formData.name" class="form-controller" placeholder="Name"/>
  <input type="text" ng-model="formData.description"  class="form-controller" placeholder="Description"/>
  <div id="datetimepicker2" class="input-append">
    <input data-format="MM/dd/yyyy HH:mm:ss PP" type="text"></input>
    <span class="add-on">
      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
      </i>
    </span>
  </div>
  <script type="text/javascript">
    $(function() {
      $('#datetimepicker2').datetimepicker({
        language: 'en',
        pick12HourFormat: true
      });
    });
  </script>
  <button ng-click="submitForm()" class="btn btn-default">Submit</button>
</form>
<table>
  <tbody>
    <tr>
      <td><span>Title</span></td>
      <td><span>Description</span></td>
    </tr>
    <tr ng-repeat="event in events">
      <div>
        <div>
          <td><span ng-bind="event.name"></span></td>
          <td><span ng-bind="event.description"></span></td>
          <td class="btn btn-info" ng-click="detailEvent(event)">More Info</td>
          <td class="btn btn-danger" ng-click="deleteEvent(event)">Delete</td>
        </div>
      </div>
    </tr>
  </tbody>
</table>
