<div class="lynx-mainInput">
    <div class="lynx-logo">
        <img src="img/Lynx_0.1.png" width="128" height="128" alt="Lynx"/>
        <span class="lynx-logo-text">Lynx</span>
        <span class="lynx-logo-subtext"><span ng-bind="postCount"></span> Links and Counting</span>
    </div>
    <form name="lynxMain" novalidate>
        <div class="input-group">
            <input name="lynxMainUrl"
                type="url"
                class="form-control"
                ng-model="formData.url"
                placeholder="http://"
                required/>
            <span class="input-group-btn">
                <button class="btn" ng-click="submitForm()" ng-disabled="lynxMain.$invalid">Submit</button>
            </span>
        </div>
    </form>
</div>
<div class="lynx-mainGo">
    <button class="btn btn-primary" ng-click="go()">Take Me Somewhere</button>
    <a href="https://chrome.google.com/webstore/detail/lynx/npmpjpaieebefmoplikkgfgogfpjdhek"><button class="btn">Chrome Extension</button></a>
    <a href ng-click="$location.path('lynx/analysis')">Analysis <span class="fa fa-angle-double-right"></span></a>
</div>